{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'plugin/jquery/jquery-3.6.0.min.js' %}"></script>
    <title>Trang Home</title>
</head>
<body>
    <h1>Chào mừng bạn đến với trang Home!</h1>
    <button class="btn btn-primary "><a href="{% url 'page2' %}" class="text-decoration-none text-dark"> Page 2</a></button>
    <button class="btn btn-primary"><a href="" class="text-decoration-none text-dark"class="text-decoration-none text-dark"> Sent Message</a></button>
    <script src="{% static 'plugin/bootstrap/js/bootstrap.min.js' %}"></script>
    <script></script>
</body>
</html>